# Virtual Environment
venv/
/venv/
.venv/

# Database files
*.db
*.sqlite3

# Python cache
__pycache__/
*.pyc

# Instance folder (often contains secrets or db)
/instance/
# .gitignore

# Exclude environment files
.env

# Exclude python cache
__pycache__/
*.pyc
