<div class="fixed-plugin">
    <div class="dropdown show-dropdown">
        <a href="#" data-toggle="dropdown">
            <i class="fa fa-cog fa-2x"> </i>
        </a>
        <ul class="dropdown-menu">
            <li class="header-title"> Sidebar Background</li>
            <li class="adjustments-line">
                <a href="javascript:void(0)" class="switch-trigger background-color">
                    <div class="badge-colors text-center">
                        <span class="badge filter badge-primary active" data-color="primary"></span>
                        <span class="badge filter badge-info" data-color="blue"></span>
                        <span class="badge filter badge-success" data-color="green"></span>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </li>
          <li class="header-title">LIGHT/DARK MODE</li>
<li class="adjustments-line">
    <div class="toggle-buttons text-center">
        <a href="javascript:void(0)" class="light-dark-buttons" data-mode="light">
            <span class="badge filter badge-light"></span>
            LIGHT
        </a>
        <a href="javascript:void(0)" class="light-dark-buttons active" data-mode="dark">
            <span class="badge filter badge-dark"></span>
            DARK
        </a>
    </div>
</li>


        </ul>
    </div>
</div>
